POSTGRES_PASSWORD=
SOUL_API_KEY_ROOT=sk_soul_root_
GITHUB_TOKEN=
SLACK_BOT_TOKEN=
SLACK_TEAM_ID=T
LINEAR_API_KEY=
NOTION_API_KEY=
OLLAMA_BASE_URL=http://host.docker.internal:11434
APP_HOSTNAME=localhost
